﻿@{
    ViewBag.Title = "PartialView";
}

@Styles.Render("~/Content/Test3/css")

<h2>PartialView</h2>

<div class="rooms">
    @for (int i = 0; i < 5; i++)
    {
        <div class="room">
            <img class="image" src="http://www.animalmeet.ru/images/Beagle_1.png" />
            <div class="text-block">
                <p class="title">Home Page</p>
                <p class="online">Online 4</p>
            </div>
        </div>
    }
</div>
<div class="room-2">
    <div class="room-button">
        <button class="button_1"
                name="Button_1"
                type="button"
                value="Value_1"             
                onclick="alert('ВНИМАНИЕ!!!');"> 
            <img class="button_img" src="http://st.depositphotos.com/1005920/3822/i/950/depositphotos_38222779-Microphone-icon.jpg" />          
        </button>
        <button class="button_2"
                name="Button_1"
                type="button"
                value="Value_1"
                onclick="alert('ВНИМАНИЕ!!!');">
            <img class="button_img" src="http://st.depositphotos.com/1005920/3822/i/950/depositphotos_38222779-Microphone-icon.jpg" />
        </button>
        <button class="button_2"
                name="Button_1"
                type="button"
                value="Value_1"
                onclick="alert('ВНИМАНИЕ!!!');">
            <img class="button_img" src="http://st.depositphotos.com/1005920/3822/i/950/depositphotos_38222779-Microphone-icon.jpg" />
        </button>
        <button class="button_3"
                name="Button_1"
                type="button"
                value="Value_1">
            Edit
        </button>
    </div>
    <div class="room-post">
        <img class="image" src="http://www.animalmeet.ru/images/Beagle_1.png" />
        <br /> 
        <p class="title">Alex Vasylyk <p />
        <p class="online"> 1 hour ago <p />        
        <p class="title">
             ASP.NET is an open source web framework for building modern web applications and services.
             With ASP.NET you can quickly create web sites based on HTML, CSS and JavaScript, scale them 
            to millions of users and easily add more complex capabilities like Web APIs, forms over data or 
            real time communications.
         </p>   
    </div>
    @for (int i = 0; i < 2; i++)
    {
    <div class="room-coment">
        <img class="image" src="http://icon-icons.com/icons2/582/PNG/512/man-2_icon-icons.com_55041.png" />
        <br />
        <p class="title">IdentityServer4 RC1 <p />
        <p class="online"> Oct 24, 2016 <p />
        <p class="title">
            Dominick Baier announces the first release candidate of IdentityServer4, with lots of great new features.
        </p>   
    </div>
    }
    <div class="roo-add-coment">
        <textarea class="input">
            
            
        </textarea>
        
    </div>

</div>   