﻿@model WebApplication2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<input name="__RequestVerificationToken" value="yOUpmHFHq2VRN4I8LRkoyEIN1BhcwfEqxl36MwaPWvTQKf8wFzZeQDtNfDLg3FMf5ZqI3_zGcNksKEjc3ypFitO7-sih-TL9HcQfQs4ePr2l-ynZ7mFnuYdjs9TXe4OIOIdzXk-Mhbw8w1Y5eFt0rg2" type="hidden">*@
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<form action="/account/register" method="post">
    <h3>Firstname</h3>
    <input type="text" name="firstName" />
    <h3>Lastname</h3>
    <input type="text" name="lastName" />
    <h3>Email</h3>
    <input type="email" name="Email" />
    <h3>Password</h3>
    <input type="password" name="Password" />
    <h3>Confirm password</h3>
    <input type="password" name="ConfirmPassword" />
    <input type="submit" class="btn btn-default" value="Register" />
</form>