﻿.rooms{ 
    float:left;
    background-color:brown;
    width: 300px;
    height: 700px;
}
.room{
    position:relative;
    width: 100%;
    height: 100px;
    background-color:orange;
}
.image{
    float:left;
    width:80px;
    height:80px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}
.text-block{    
    height:80px;    
}
.title{ 
    padding: 10px;    
    text-align: justify; 
    font-size:12pt;
}
.online{
    font-size:8pt;    
}
.room-2{
    margin-left:300px;
    background-color:blue;
    width:700px;
    height:700px;
}
.room-button{
    background-color:beige;
    height:60px;
}
.button_1{
    width:50px;
    height:50px; 
    margin-left:20px;
    margin-top:5px;
    border-radius: 50%;
}
.button_img{ 
    margin-left:-8px;
    margin-top:-1px; 
    width:50px;
    height:50px;   
    border-radius: 50%;
}
.button_2{
    float:right;
    width:50px;
    height:50px; 
    margin-right:20px;
    margin-top:5px;
    border-radius: 50%;
}
.button_3{
    background-color: #4CAF50;
    float:right;
    width:100px;
    height:35px; 
    margin-right:20px;
    margin-top:12px;
    border-radius: 5%;
}
.room-post{
    background-color:lawngreen;
    height:200px;
}
.room-coment{
    margin-left:100px;
    height:150px;
    background-color:cornflowerblue;
}
.input{
    width:700px;  
    height: 75px;
    max-width:700px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}
